
<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Gênero</h2>
            <a href="/genero/add" class="btn btn-success">+ Novo Gênero</a>
        </div>
<form method="post">
 <input type="text" name="pesquisar" placeholder="Nome do gênero">
 <input type="submit" value="Buscar">
</form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%generos.forEach(genero => {%>
                    <tr>
                        <td><%=genero.nome%></td>
                        <td><a href="/genero/del/<%=genero.id%>" class="link">Excluir</a></td>
                        <td><a href="/genero/edt/<%=genero.id%>" class="link">Editar</a></td>
                    </tr>
                    <%})%>
                    
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
