
<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Playlists</h2>
            <a href="/playlist/add" class="btn btn-success">+ Nova Playlist</a>
        </div>
<form method="post">
 <input type="text" name="pesquisar" placeholder="Nome da playlist">
 <input type="submit" value="Buscar">
</form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Música 1</th>
                        <th>Música 2</th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%playlists.forEach(playlist => {%>
                    <tr>
                        <td><%=playlist.nome%></td>
                        <td><%=playlist.musica1%></td>
                        <td><%=playlist.musica2%></td>
                        <td><a href="/playlist/del/<%=playlist.id%>" class="link">Excluir</a></td>
                        <td><a href="/playlist/edt/<%=playlist.id%>" class="link">Editar</a></td>
                    </tr>
                    <%})%>
                    
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
