<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Editar Música</h3>
      </header>
      <div class="content">
        <form id="form-instrumento" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="nome">ID da Música</label>
              <input id="id" value="<%=musica.id%>" name="id" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Nome da Música</label>
              <input id="nome" value="<%=musica.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Artista</label>
              <input id="artista" value="<%=musica.artista%>" name="artista" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Ano de Lançamento</label>
              <input id="anoLancamento" value="<%=musica.anoLancamento%>" name="anoLancamento" type="number" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Duração</label>
              <input id="duracao" value="<%=musica.duracao%>" name="duracao" type="text" placeholder="Ex:Gope" required>
            </div>
           <div class="field-help">Os campos com * são obrigatórios.</div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/musica/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Música</button>
          </footer>
        </form>
      </div>

  <%-include('../rodape.ejs')%>